#header {
    background-color: black;
    text-align: center;
    transform: scale(1.3);
}

h1 {
    color: white;
    padding: 1%;
}

#tutorialText {
    border: 1px solid black;
  }
  
  #tutorial {
    padding: 1%;
    padding-top: 30px;
    font-weight: 500;
  }