@font-face {
  font-family: 'Above';
  src: url(/public/fonts/above.ttf);
}

* {
  font-family: 'Above', 'Baskerville', "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

#header {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    padding: 1%;
    text-align: center;
    transform: scale(1.8);
}

h4 {
  color: white;
  text-align: right;
}

#tutorialBtn {
    margin: auto;
    background-color: white;
    font-weight: 700;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    transform: scale(1.6);
    width: 15%;
    margin-bottom: 10px;
  }

h4:hover {
  color: lightgray;
  cursor: pointer;
}

#tutorialText {
    display: none;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    width: 50%;
    font-weight: 500;
  }
  
  #tutorial {
    padding: 1%;
    padding-top: 30px;
    font-weight: 500;
  }

#tutorialBtn:hover {
  background-color: lightgray;
  cursor: pointer;
}

#tutorialBtn:active {
  background-color: gray;
}

h4:active {
  color: gray;
}

#logos {
  display: none;
}