.grid {
    position:absolute;
    transform: scale(0.9);
    left: 0;
    right: 0;
    margin: auto;

}

@media screen and (max-width: 1019px) {
    .grid {
      display: none;
    }
  }

#buttons {
    padding-top: 30px;
}

#dButton {
    display: block;
    clear: both;
    width: 200px;
    height: 50px;
    background-color: #D7EDE2;
    text-align: center;
    cursor: pointer;
    font-size: larger;
    margin: auto;
}

#reset {
    clear: both;
    background-color: #F4F4F4;
    cursor: pointer;
    width: 150px;
    height: 30px;
    margin-top: 20px;
}

#dButton, #reset {
    font-weight: 700;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

#reset:hover {
    background-color: #E5E5E5;
    cursor: pointer;
  }

  #dButton:hover {
    cursor: pointer;
    background-color: #c5e5d5;
  }

.position {
    display: block;
    margin: auto;
}

label {
    font-weight: 300;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sNode {
    width: 50%;
}

#guide {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    margin-bottom: 70px;
}

#guide h3 {
    margin-top: 20px;
}

.guideItem {
    float: left;
    width: 25%;
}

.square {
    margin: auto;
    display: relative;
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

#start {background-color:lime;}
#wall {background-color: black;}
#path {background-color: #FFFF00;}
#end {background-color: red;}
