.grid {
    margin-top: 10px;
    transform: scale(0.9);
}

#buttons {
    padding-top: 30px;
}

#dButton {
    display: block;
    clear: both;
    width: 200px;
    height: 50px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-size: larger;
    margin: auto;
}

#reset {
    clear: both;
    background-color: white;
    cursor: pointer;
    width: 150px;
    height: 30px;
    margin-top: 20px;
}

.position {
    display: block;
    margin: auto;
}

label {
    font-weight: 300;
}
