@font-face {
  font-family: 'Above';
  src: url(/public/fonts/above.ttf);
}

.App {
  font-family: 'Above', 'Baskerville', "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  text-align: center;
  overflow: hidden;
  background-color: #AEC6CF;
}

#pathFinder {
  background-color: white;
}